<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.darkfog.speech_service">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="22256295" />

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="LWmEfVhRB1VUhAZnNo8qgqUi" />

        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="HgGcQRLfyr4UY2zThoPuOljEGBqq9tbz" />
    </application>

    <!--    <application>-->

    <!--        <meta-data-->
    <!--            android:name="com.baidu.speech.APP_ID"-->
    <!--            android:value="16749257" />-->
    <!--        <meta-data-->
    <!--            android:name="com.baidu.speech.API_KEY"-->
    <!--            android:value="hlRN25tWVeYn3fAhMXyT9Mod" />-->
    <!--        <meta-data-->
    <!--            android:name="com.baidu.speech.SECRET_KEY"-->
    <!--            android:value="sBQifKVDAvxIiUjz8iTKNvb94GnUNBxh" />-->

    <!--    </application>-->

</manifest>